# Byte-compiled / optimized / DLL files / environments
__pycache__/
*/__pycache__/
.venv/
venv/
*.py[cod]
*$py.class

# Old development files
.old/

# Useless lists
lists/
libs/to_separe.txt

# Tests
vr_tests/*
!vr_tests/.gitkeep
ww/tests/*
!ww_tests/.gitkeep

# PyCharm utilities
.idea/

# Adobe Audition files
*.pk

# temporary recordings
*.temp.wav

# local computer settings
settings/*

# Development packages
libs/alb_pack