# Byte-compiled / optimized / DLL files / environments
__pycache__/
*/__pycache__/
.venv/
venv/
*.py[cod]
*$py.class

# Old development files
.old/

# Useless lists
lists/
libs/to_separe.txt

# Tests
vr_tests
vr_tests/*
!vr_tests/.gitkeep
*.pk

# PyCharm utilities
.idea/

# Adobe Audition files
*.pk

# temporary recordings
*.temp.wav

# local computer settings
settings/*

# Development packages
libs/alb_pack
vr_tests/french_female_ac_medium/config.cfg
vr_tests/french_female_ac_medium/config.cfg
vr_tests/french_female_ac_medium/mouth_calibration.wav
vr_tests/french_female_ac_medium/noise_radio_off.wav
vr_tests/french_female_ac_medium/noise_radio_on.wav
vr_tests/french_female_ac_medium/report.csv
vr_tests/french_female_ac_medium/testlog.log
vr_tests/frf_engineon_speech/config.cfg
vr_tests/frf_engineon_speech/mouth_calibration.wav
vr_tests/frf_engineon_speech/noise_radio_off.wav
vr_tests/frf_engineon_speech/noise_radio_on.wav
vr_tests/frf_engineon_speech/report.csv
vr_tests/frf_engineon_speech/testlog.log
vr_tests/frf_fail_log/config.cfg
vr_tests/frf_fail_log/noise_radio_off.wav
vr_tests/frf_fail_log/noise_radio_on.wav
vr_tests/frf_fail_log/report.csv
vr_tests/frf_fail_log/testlog.log
vr_tests/ged_female_ac_medium/config.cfg
vr_tests/ged_female_ac_medium/ear_calibration.wav
vr_tests/ged_female_ac_medium/mic_calibration.wav
vr_tests/ged_female_ac_medium/mouth_calibration.wav
vr_tests/ged_female_ac_medium/noise_radio_off.wav
vr_tests/ged_female_ac_medium/noise_radio_on.wav
vr_tests/ged_female_ac_medium/report.csv
vr_tests/ged_female_ac_medium/testlog.log
vr_tests/ita_male_ac_medium/config.cfg
vr_tests/ita_male_ac_medium/noise_radio_off.wav
vr_tests/ita_male_ac_medium/noise_radio_on.wav
vr_tests/ita_male_ac_medium/report.csv
vr_tests/ita_male_ac_medium/testlog.log
vr_tests/ita_male_acmedium_NLU/config.cfg
vr_tests/ita_male_acmedium_NLU/noise_radio_off.wav
vr_tests/ita_male_acmedium_NLU/noise_radio_on.wav
vr_tests/ita_male_acmedium_NLU/report.csv
vr_tests/ita_male_acmedium_NLU/testlog.log
vr_tests/ita_male_engineon_acmax/config.cfg
vr_tests/ita_male_engineon_acmax/noise_radio_off.wav
vr_tests/ita_male_engineon_acmax/noise_radio_on.wav
vr_tests/ita_male_engineon_acmax/report.csv
vr_tests/ita_male_engineon_acmax/testlog.log
vr_tests/ita_male_idle_2/config.cfg
vr_tests/ita_male_idle_2/report.csv
vr_tests/ita_male_idle_2/testlog.log
vr_tests/ptp_engineon/config.cfg
vr_tests/ptp_engineon/noise_radio_off.wav
vr_tests/ptp_engineon/noise_radio_on.wav
vr_tests/ptp_engineon/report.csv
vr_tests/ptp_engineon/testlog.log
vr_tests/ptp_male_ac_medium/config.cfg
vr_tests/ptp_male_ac_medium/mouth_calibration.wav
vr_tests/ptp_male_ac_medium/noise_radio_off.wav
vr_tests/ptp_male_ac_medium/noise_radio_on.wav
vr_tests/ptp_male_ac_medium/report.csv
vr_tests/ptp_male_ac_medium/testlog.log
vr_tests/rur_engineon_acmid/config.cfg
vr_tests/rur_engineon_acmid/mic_calibration.wav
vr_tests/rur_engineon_acmid/mouth_calibration.wav
vr_tests/rur_engineon_acmid/noise_radio_off.wav
vr_tests/rur_engineon_acmid/noise_radio_on.wav
vr_tests/rur_engineon_acmid/report.csv
vr_tests/rur_engineon_acmid/testlog.log
vr_tests/spe_engineon/config.cfg
vr_tests/spe_engineon/mouth_calibration.wav
vr_tests/spe_engineon/noise_radio_off.wav
vr_tests/spe_engineon/noise_radio_on.wav
vr_tests/spe_engineon/report.csv
vr_tests/spe_engineon/testlog.log
vr_tests/spe_engineon_speech/config.cfg
vr_tests/spe_female_ac_medium/config.cfg
vr_tests/spe_female_ac_medium/ear_calibration.wav
vr_tests/spe_female_ac_medium/mic_calibration.wav
vr_tests/spe_female_ac_medium/mouth_calibration.wav
vr_tests/spe_female_ac_medium/noise_radio_off.wav
vr_tests/spe_female_ac_medium/noise_radio_on.wav
vr_tests/spe_female_ac_medium/report.csv
vr_tests/spe_female_ac_medium/testlog.log
vr_tests/french_female_ac_medium/config.cfg
