# Byte-compiled / optimized / DLL files / environments
__pycache__/
*/__pycache__/
.venv/
venv/
*.py[cod]
*$py.class

# Old development files
.old/

# Useless lists
lists/
source/to_separe.txt

# Tests
vr_tests/.*
vr_tests/test*
!vr_tests/.gitkeep
*.pk

# PyCharm utilities
.idea/

# temporary recordings
*.temp.wav

# computer settings
settings/settings.vcfg